node_modules/
.qodo
# Keep environment variables out of version control
.env


# Build output
dist/
build/

# IDE specific files
.vscode/        # VS Code configuration files
.idea/          # JetBrains IDE configuration files
*.swp
.DS_Store       # macOS system files
Thumbs.db       # Windows system files
package-lock.json